#container-body {
  background-color: lightgrey;
  border: 10px solid lightseagreen;
  /* border-radius: 30px; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 80%;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  font-size: larger;
}

#standardForm,
#metricsForm {
  font-family: "Eczar", serif;
}

#bmiStatus {
  font-family: "Ubuntu", serif;
  font-size: medium;
  color: azure;
}

.faq-container {
  width: 100%;
  margin: auto;
}

.faq {
  padding: 10px 0;
}

.faq-question {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question h4 {
  font-size: 18px;
  color: black;
  margin: 0;
}

.toggle-icon {
  font-size: 20px;
  color: black;
}

.faq-answer {
  display: none;
  padding: 10px 0 0;
  font-size: 16px;
  color: #555555;
}

footer {
  width: 80%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 18px;
  margin: auto;
}
