#container {
  border: 10px solid lightseagreen;
  border-radius: 30px;
}

form {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-size: large;
}

input,
button {
  border: 3px solid lightgrey;
  border-radius: 10px;
}

select {
  border: 3px double lightcoral;
  border-radius: 10px;
}

img {
  width: 15%;
}

h1 {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-size: larger;
}

p {
  font-family: "Inter", serif;
  font-size: x-small;
}
